---
import Base from '../../layouts/Base.astro';
import PageTitle from '../../components/PageTitle.astro';
import WorksList from '../../components/WorksList.astro';
---

<Base lang="en" title="Works" altHref="/works/">
  <div class="max-w-2xl">
    <div class="pt-20 pb-10">
      <PageTitle title="works" />
    </div>
    <WorksList locale="en" />
  </div>
</Base>
