---
import Base from '../layouts/Base.astro';
import PageTitle from '../components/PageTitle.astro';
import WorksList from '../components/WorksList.astro';
---

<Base lang="ja" title="Works" altHref="/en/works/">
  <div class="max-w-2xl">
    <div class="pt-20 pb-10">
      <PageTitle title="works" />
    </div>
    <WorksList locale="ja" />
  </div>
</Base>
