---
import Base from '../layouts/Base.astro';
import WorksList from '../components/WorksList.astro';
---

<Base lang="ja" title="Works" altHref="/en/works/">
  <h1 class="pt-20 pb-10 font-mono text-2xl font-bold">works</h1>
  <WorksList locale="ja" />
</Base>
